@model IEnumerable<Legopia.Models.Entities.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.PostStatus</td>
                <td>@post.Category?.PostCategoryName</td>
                <td>@post.Author?.UserName</td>
            </tr>
        }
    </tbody>
</table>
